body {
  width: 90%;
  margin: auto;
  padding: 4%;
}
@media screen {
  .layout_md {
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .layout_md {
    grid-template-columns: 100%;
  }
}
#header {
  display: flow-root;
}
#header a img {
  width: 15%;
  float: left;
}
#header ul {
  float: left;
  line-height: 92.66px;
  display: contents;
}
#header ul li {
  float: left;
  list-style: none;
  cursor: pointer;
  font-family: "Noto Sans CJK SC Bold";
  font-size: 1.7em;
  border-left: 2px solid #dfdfdf;
  padding-left: 1.5em;
  margin-left: 1.4em;
  color: #dfdfdf;
  line-height: initial;
}
#header ul li span {
  color: #007fff;
}
#header logo_label {
  background: #1ec0ff;
  border-radius: 5px;
  font-size: 0.6em;
  padding: 2px;
  color: white;
}
#form {
  display: inline-block;
  margin-top: 5%;
  width: 100%;
}
#form form input {
  outline: none;
  width: 55%;
  padding: 10px 20px;
  font-size: 1.7em;
  font-family: "Noto Sans CJK SC Bold";
  border: none;
  box-shadow: -22px -6px 24px #eeeeee, 3px 9px 21px #eeeeee;
  border-radius: 2px;
  position: fixed;
}
#form form input:hover {
  box-shadow: 0px -2px 24px #d7ebff, 3px 9px 21px #f5faff;
  transition: 1s;
  width: 60%;
  transform: scale(1);
}
#form form input:focus {
  box-shadow: 0px -2px 24px #d7ebff, 3px 9px 21px #f5faff;
  transition: 1s;
  width: 60%;
  transform: scale(1);
}
#form span::before {
  content: "";
  left: 8.5px;
  top: -7px;
  width: 9px;
  height: 17px;
  border-right: 3px solid #007fff;
  border-bottom: 2px solid #007fff;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
}
#end {
  width: 100%;
  margin-top: 10%;
}
@media screen {
  #end h1 {
    font-family: "Noto Sans CJK SC Bold";
  }
}
@media screen and (max-width: 1440px) {
  #end h1 {
    margin-top: 20%;
  }
}
#end ul {
  padding: 0;
  margin-bottom: 5.9em;
  display: flow-root;
}
#end li p {
  margin: 0;
  font-family: "Noto Sans CJK SC Regular";
  font-size: 1.6em;
}
#end li p span {
  background: #f1f1f1;
  font-size: 0.3em;
  margin-left: 0.5%;
  padding: 2px;
  border-radius: 4px;
  color: #949494;
  vertical-align: baseline;
}
#end ul li {
  list-style: none;
}
#end ul label {
  float: left;
  display: contents;
}
#end ul li licen {
  float: left;
  list-style: none;
  font-family: "Noto Sans CJK SC Bold";
}
#end ul li tag {
  float: left;
  list-style: none;
  font-family: "Noto Sans CJK SC Bold";
}
#end ul li noun {
  float: left;
  list-style: none;
  font-family: "Noto Sans CJK SC Bold";
}
#end licen {
  background: #007fff;
  text-align: center;
  padding: 4px;
  border-radius: 9px;
  margin-right: 13px;
  color: white;
  margin-top: 0.5em;
}
#end tag {
  background: #1ec0ff;
  text-align: center;
  padding: 4px;
  border-radius: 9px;
  margin-right: 13px;
  color: white;
  margin-top: 0.5em;
}
#end noun {
  background: #a3daff;
  text-align: center;
  padding: 4px;
  border-radius: 9px;
  margin-right: 13px;
  color: white;
  margin-top: 0.5em;
}
#by {
  margin-top: 100%;
}
#by p ul {
  float: left;
}
#by ul {
  padding: 0;
  font-family: "Noto Sans CJK SC Regular";
  font-size: 1em;
  float: right;
  color: #dfdfdf;
  line-height: 0.8em;
  position: fixed;
  margin-left: 13%;
}
#by ul li {
  list-style: none;
  float: right;
}
#by li a {
  text-decoration: none;
  color: #dfdfdf;
}
/*# sourceMappingURL=style.css.map */